<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>珞珈图腾图书论文管理系统</title>

    {% load static %}
    <link rel="icon" type="image/x-ico" href="{% static 'img/icon.png'%}"/>
    <link rel="stylesheet" href="{% static 'src/css/reset.css'%}">
    <link rel="stylesheet" href="{% static 'src/css/book.css'%}">
    <link rel="stylesheet" href="{% static 'src/css/base.css'%}">

</head>
<body>
    <div class="logoBar">
        <a href="http://totemdb.whu.edu.cn/" target="_blank">
            <img src="{% static 'img/logo.jpg' %}" alt="珞珈图腾数据库实验室">
        </a>
        <ul class="navigation">
            <li><a href="http://totemdb.whu.edu.cn/"> 概 况 </a></li>
            <li><a href="../books"> 图 书 </a></li>
            <li><a href="../papers"> 论 文 </a></li>
        </ul>

{#    判断当前登陆状态决定右上角显示个人中心或登录#}

        {% if login_statu %}
            <div class="log">

                <a href="{% url 'home' %}">个人中心</a><!--注意参数传递的?next与前面没有空格-->
            </div>
        {% else %}
        <div class="log">
            <a href="{% url 'login' %}?next_url={{ next_url }}">登录</a><!--注意参数传递的?next与前面没有空格-->
        </div>
        {% endif %}

    </div>

    <div class="holder"></div>
<div id="work_place">
    <div class="back_plate" id="search_box">
        {#搜索框#}
        <form action="/books/" method="POST">
            {% csrf_token %}
        <div class="fl" id="search_input">
            <div id="book_name_id">
                <div id="book_name" class="fl">
                    <p class="fl">书 名</p>
                    <input type="text" class="fl" placeholder="请输入书籍名称" name="q_book_title">
                </div>
                <div id="book_id" class="fl">
                    <p class="fl">书 号</p>
                    <input type="text" class="fl" placeholder="请输入书籍编号" name="q_book_id">
                </div>
            </div>

            <div id="book_author_type">
                <div id="book_author" class="fl">
                    <p class="fl">作者</p>
                    <input type="text" class="fl" placeholder="请输入书籍作者" name="q_book_author">
                </div>
                <div id="book_press" class="fl">
                    <p class="fl">出版社</p>
                    <input type="text" class="fl" placeholder="请输入书籍出版社" name="q_book_press">
                </div>
                <div id="book_type" class="fl">
                    <p class="fl">类 型</p>
                    <input id="type" type="text" list="typelist" placeholder="请选择" name="q_book_type">
                    <datalist id="typelist">
　　                      <option>计算机</option>
　　                      <option>数理</option>
                    </datalist>
                </div>
            </div>
        </div>
{#        <button class="search_btn">#}
{#            搜 索#}
{#        </button> #}
{#        改成input样式#}
        <!-- <input type="submit" value="搜索图书"> -->
        <input type="submit" class="m sub_iput" id="book_search_btn" value="搜 索">

        </form>

    </div>
            {% if admin_statu %}
    <div id="add_book_btn">
            <a href="../book_add" target="_blank">+ 添加图书</a>
    </div>
            {% endif %}


    <div class="table m ">
        <div class="table_head">
            <div class="head_num">ID</div>
            <div class="head_title">书 名</div>
            <div class="head_author">作 者</div>
            <div class="head_press">出版社</div>
            <div class="head_year">年 限</div>
            <div class="head_type">类 型</div>
        </div>

        <div class="table_body">
            {% for book in books_list %}
            <div class="table_item">
                <a href={% url 'book_detail' %}?book_id={{ book.id }} target="_blank">
                <div class="item_num">{{ book.id }}</div>
                <div class="item_title">{{ book.title }}</div>
                <div class="item_author">{{ book.author }}</div>
                <div class="item_press">{{ book.press }}</div>
                <div class="item_year">{{ book.year }}</div>
                <div class="item_type">{{ book.type }}</div>
                </a>
            </div>
            {% endfor %}
        </div>

    </div>
</div>
    <div class="end">


    </div>

</body>